<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="qr-code-generator-nuget-feed" value="https://pkgs.dev.azure.com/klassanov/c096b3b9-a525-4ae1-b0d5-2764415d837a/_packaging/qr-code-generator-nuget-feed/nuget/v3/index.json" />
  </packageSources>
  
  <packageSourceMapping>
    <!-- key value for <packageSource> should match key values from <packageSources> element -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="qr-code-generator-nuget-feed">
      <!--<package pattern="Contoso.*" />-->
      <!--<package pattern="NuGet.Common" />-->
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>